@import "@/configs/share.scss";

.container{
  padding: 15px;
  margin: 15px;
  background-color: var(--container-color);
  width: 100%;
  height: calc(100vh - 60px);
}
@media(min-width:1441px){
  .container{
    width: 768px;
  }
}
@media (max-width:1440px){
  .container{
    width: 768px;
  }
}
@media  (max-width:1024px){
  .container{
    width: 768px;
  }
}
@media (max-width:768px){
  .container{
    width: 576px;
  }
}
@media (max-width:576px){
  .container{
    width: 456px
  }
}


